<div class="container">

  <!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
    <!-- Position Column -->
    <!--<ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{spieler.name}} </td>
    </ng-container>-->

    <!-- Name Column -->
    <!--<ng-container matColumnDef="club">
      <th mat-header-cell *matHeaderCellDef> Club </th>
      <td mat-cell *matCellDef="let element"> {{spieler.club}} </td>
    </ng-container>-->

    <!-- Weight Column -->
    <!--<ng-container matColumnDef="hSpiele">
      <th mat-header-cell *matHeaderCellDef> Sp </th>
      <td mat-cell *matCellDef="let element"> {{spieler.heimSpiele}} </td>
    </ng-container>-->

    <!-- Symbol Column -->
    <!--<ng-container matColumnDef="hSchnitt">
      <th mat-header-cell *matHeaderCellDef> ∅ </th>
      <td mat-cell *matCellDef="let element"> {{spieler.heimSchnitt}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>-->


</div>
