<div class="container">

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. SG Praunheim" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <!--(matSortChange)="sortData($event)"-->

    - Note that these columns can be defined in any order.
    The actual rendered columns are set as a property on the row definition"
    Position Column
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="club">
      <th mat-header-cell *matHeaderCellDef> Club </th>
      <td mat-cell *matCellDef="let element"> {{element.club}} </td>
    </ng-container>

    <ng-container matColumnDef="hSpiele">
      <th mat-header-cell *matHeaderCellDef> Heim-Sp </th>
      <td mat-cell *matCellDef="let element"> {{element.hSpiele}} </td>
    </ng-container>

    <ng-container matColumnDef="hSchnitt">
      <!--="hSchnitt"-->
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ∅ </th>
      <td mat-cell *matCellDef="let element"> {{element.hSchnitt}} </td>
    </ng-container>

    <ng-container matColumnDef="aSpiele">
      <th mat-header-cell *matHeaderCellDef> Auswärts-SP </th>
      <td mat-cell *matCellDef="let element"> {{element.aSchnitt}} </td>
    </ng-container>

    <ng-container matColumnDef="aSchnitt">
      <!--="aSchnitt"-->
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ∅ </th>
      <td mat-cell *matCellDef="let element"> {{element.aSchnitt}} </td>
    </ng-container>

    <ng-container matColumnDef="gSpiele">
      <th mat-header-cell *matHeaderCellDef> Gesammt-Sp </th>
      <td mat-cell *matCellDef="let element"> {{element.gSpiele}} </td>
    </ng-container>

    <ng-container matColumnDef="gSchnitt">
      <!--="gSchnitt"-->
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ∅ </th>
      <td mat-cell *matCellDef="let element"> {{element.gSchnitt}} </td>
    </ng-container>

    <ng-container matColumnDef="bestleistung" >
      <!--="bestleistung"-->
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bestleistung </th>
      <td mat-cell *matCellDef="let element"> {{element.bestleistung}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>
