<div>

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="SG Praunheim" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!--(matSortChange)="sortData($event)"-->
      - Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition"
      Position Column
      <ng-container matColumnDef="name">
        <th mat-header-cell class="border-right-mat-cell" *matHeaderCellDef> Name </th>
        <td mat-cell class="border-right-mat-cell" *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="club">
        <th mat-header-cell class="border-mat-cell" *matHeaderCellDef> Club </th>
        <td mat-cell class="border-right-mat-cell" *matCellDef="let element"> {{element.club}} </td>
      </ng-container>

      <ng-container matColumnDef="hspiele">
        <th mat-header-cell class="border-right-mat-cell" *matHeaderCellDef> Sp </th>
        <td mat-cell class="border-right-mat-cell" *matCellDef="let element"> {{element.hspiele}} </td>
      </ng-container>

      <ng-container matColumnDef="hschnitt">
        <!--="hSchnitt"-->
        <th mat-header-cell class="border-left-mat-cell" *matHeaderCellDef mat-sort-header> Ø </th>
        <td mat-cell *matCellDef="let element"> {{element.hschnitt | number: '1.0-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="aspiele">
        <th mat-header-cell class="border-right-mat-cell" *matHeaderCellDef> Sp </th>
        <td mat-cell class="border-right-mat-cell" *matCellDef="let element"> {{element.aspiele}} </td>
      </ng-container>

      <ng-container matColumnDef="aschnitt">
        <!--="aSchnitt"-->
        <th mat-header-cell class="border-left-mat-cell" *matHeaderCellDef mat-sort-header> Ø </th>
        <td mat-cell *matCellDef="let element"> {{element.aschnitt | number: '1.0-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="gspiele">
        <th mat-header-cell class="border-right-mat-cell" *matHeaderCellDef> Sp </th>
        <td class="border-right-mat-cell" mat-cell *matCellDef="let element"> {{element.gspiele}} </td>
      </ng-container>

      <ng-container matColumnDef="gschnitt">
        <!--="gSchnitt"-->
        <th mat-header-cell class="border-left-mat-cell" *matHeaderCellDef mat-sort-header> Ø </th>
        <td mat-cell *matCellDef="let element"> {{element.gschnitt | number: '1.0-2'}} </td>
      </ng-container>

      <ng-container matColumnDef="bestleistung">
        <!--="bestleistung"-->
        <th mat-header-cell class="border-left-mat-cell" *matHeaderCellDef mat-sort-header> Bestleistung </th>
        <td mat-cell *matCellDef="let element"> {{element.bestleistung | number: '1.0-2'}} </td>
      </ng-container>

      <!-- Header row first group -->
      <ng-container matColumnDef="header-row-spieler-info-group">
        <th class="border-right-mat-cell" mat-header-cell *matHeaderCellDef [attr.colspan]="2"></th>
      </ng-container>

      <!-- Header row heim group -->
      <ng-container matColumnDef="header-row-heim-group">
        <th class="border-mat-cell" mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Heim </th>
      </ng-container>

      <!-- Header row auswärts group -->
      <ng-container matColumnDef="header-row-auswaerts-group">
        <th class="border-mat-cell" mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Auswärts </th>
      </ng-container>

      <!-- Header row gesammt group -->
      <ng-container matColumnDef="header-row-gesammt-group">
        <th class="border-mat-cell" mat-header-cell *matHeaderCellDef [attr.colspan]="2"> Gesammt </th>
      </ng-container>

      <!-- Header row best group -->
      <ng-container matColumnDef="header-row-best-group">
        <th class="border-left-mat-cell" mat-header-cell *matHeaderCellDef [attr.colspan]="1"></th>
      </ng-container>

      <!-- Header einzelne columns -->
      <tr mat-header-row *matHeaderRowDef="['header-row-spieler-info-group', 'header-row-heim-group', 'header-row-auswaerts-group', 'header-row-gesammt-group', 'header-row-best-group']"></tr>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


    </table>
    <mat-paginator [pageSize]="50" [pageSizeOptions]="[25, 50, 100]" aria-label="Select pagesize"></mat-paginator>
  </div>

</div>
