<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>


<mat-grid-list rowheight="350px" cols="{{cardColumns$}}">

  <mat-grid-tile>
    <mat-card class="card" routerLink="/Schnitt">
      <mat-card-header>
        <!--<div mat-card-avatar class="header-image"></div>-->
        <mat-card-title>Schnittliste</mat-card-title>
        <mat-card-subtitle>Kegeln</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/Schnitt.png" alt="Foto von der Schnittliste">
      <mat-card-content>
        <p>
          Hier kannst du dir den Schnitt von allen Keglern anschauen.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>


  <!--<ng-container *ngIf="isSmallScreen$ | async">
    <span class="largePadding">&nbsp;</span>
  </ng-container>

  <mat-grid-tile>
    <mat-card class="card" routerLink="/Schnitt">
      <mat-card-header>
        <mat-card-title>Schnittliste</mat-card-title>
        <mat-card-subtitle>Kegeln</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Hier kannst du dir den Schnitt von allen Keglern anschauen.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <ng-container *ngIf="isSmallScreen$ | async">
    <span class="largePadding">&nbsp;</span>
  </ng-container>


  <mat-grid-tile>
    <mat-card class="card" routerLink="/Schnitt">
      <mat-card-header>
        <mat-card-title>Schnittliste</mat-card-title>
        <mat-card-subtitle>Kegeln</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Hier kannst du dir den Schnitt von allen Keglern anschauen.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>-->

</mat-grid-list>



</div>


